<div class="center hero-unit">
  <h1>Welcome to stack*tician</h1>

  <h2>
    This is the home page for stack*tician
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("stacktician_small.png", alt: "stack*tician"), '' %>
