<%= form_for(@stack) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :stack_name, placeholder: "Create New Stack..." %>
  </div>
  <%= f.submit "Create Stack", class: "btn btn-large btn-primary" %>
<% end %>
